
.text-align-right{
    text-align:right;
}

.text-align-center {
    text-align:center;
}

a{
    text-decoration: none;
    color: #000000;
}

.a-row{
    margin-top: 16px;

}

.m-label{
    margin-bottom:4px;
}