.icon-add {
    background-image: url('/content/icon/add.png');
    width: 16px;
    height: 16px;
    
}

.icon-search {
    background-image: url('../../content/icon/search.png');
    background-repeat: no-repeat;
    background-position: 16px center;
}
