input {
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #bbbbbb;
    
}
    input::placeholder {
        font-size: 11.5px;
    }
.input-search{
    padding-left: 40px;
}
